.App{
  background-color: yellow;
  margin: 0;
  padding: 0;
}
.notes-list{
  min-height: 100vh;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 10px 15px;
}
.note{
  background-color: aqua;
  border-radius: 5px;
  padding: 10px;
  height: 170px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.note-footer{
  display: flex;
  justify-content: space-between;
}
.note-add{
  background-color: green;
}
.note-add textarea{
  height: 100%;
  border: none;
  background-color: green;
  color: white;
  resize: none;
}
.note-add textarea:focus{
  outline: none;
}
.note-add textarea::placeholder{
  color: white;
}
.save-button{
  width: 70px;
  background-color: antiquewhite;
  border-radius: 20%;
  display: block;
  margin-left: auto;
}
.note-add .note-footer{
  display: flex;
  align-items: baseline;
}
.note-footer span{
  color: #fff;
}
.icon {
  cursor: pointer;
}